body {
    background-image: url('../assets/city.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#00aced;
    /* Twitter darker blue #00aced */
   /*  background-color:#0084B4; */

}


.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 320px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;

}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  top: 30px;
  width: 320px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}
.tweetLink{
  font-size: 25px;
  font-weight: 300;
  color:#00aced;
}

.btn-link:focus,
.btn-link:active:focus{
    outline:none;
}

.btn-link:focus{
    text-decoration:none;
}

.tweetPanel{
  padding: 0px;
  background-color: inherit;
  border: none;
  margin-bottom: 0px;
}

.tweetTextPanel{
  padding: 0px;
}

.tweetText {
    font-size: 12px;
    line-height: 18px;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #292f33;
    font-family: Arial,sans-serif;
}

.retweetCount{
  font-size: 10px;
  margin-right: 8px;
}

.likesCount{
  font-size: 10px;
  margin-left: 3px;
}
